<h1>Bookmarks about <span class="color"><%= "#{@title.capitalize}"%></span></h1>

<div><span title="Back to topics" class="link_two"><%= link_to " ", topics_path, class: "glyphicon glyphicon-arrow-left" %></span>

<span title="Add a bookmark" class="new"><%= link_to " ", new_topic_bookmark_path(@topic), class: "glyphicon glyphicon-plus"%></span></div><br/>

<%= render @bookmarks, topic: @topic %>
  
<%= will_paginate @bookmarks %>


