<h1><%= current_user.name %>'s Bookmarks</h1>

 <p><%= link_to "Edit your account information", edit_user_registration_path %></p><br/>

<h4>The bookmarks you have added</h4>
  <% @user_bookmarks.each do |bookmark|%>
  <%= link_to "#{bookmark.url}", "http://#{bookmark.url}", target: "_blank" %>
  <%= render partial: 'bookmarks/right', locals: {bookmark: bookmark, topic: bookmark.topic} %> <br/> <% end %><br/>

<h4>Your favorite bookmarks</h4>
  <% @liked_bookmarks.each do |like|%>
  <%= link_to "#{like.bookmark.url}", "http://#{like.bookmark.url}", target: "_blank" %>
    <%= render partial: 'likes/like', locals: { bookmark: like.bookmark } %><br/>
  <% end %>




